<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- GENERALES -->
    <jmxConfigurator />

    <timestamp key="myTimestamp" datePattern="yyyy-MM-dd"/>

    <!-- APP Config -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%30.30thread] [%30.30logger{0}:%-3line] - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="BACKEND" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs-api-ux-me/api-business-miniencuesta.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs-api/api-business-miniencuesta_%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>100</maxHistory>
            <totalSizeCap>1000MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <charset>utf-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%30.30thread] [%30.30logger{0}:%-3line] - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- CONFIG -->

    <logger name="pe.jaav.sys" level="DEBUG" additivity="false">
        <appender-ref ref="BACKEND" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="BACKEND" />
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="org.springframework.transaction" level="WARN" additivity="false">
        <appender-ref ref="BACKEND" />
    </logger>
    <logger name="org.springframework.orm.jpa.JpaTransactionManager" level="WARN" additivity="false">
        <appender-ref ref="BACKEND" />
    </logger>
    <logger name="org.springframework.security" level="DEBUG" additivity="false">
        <appender-ref ref="BACKEND" />
    </logger>
    <logger name="org.springframework.web.servlet.mvc" level="INFO" additivity="false">
        <appender-ref ref="BACKEND" />
    </logger>
    <logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="BACKEND" />
    </logger>
    <logger name="org.hibernate.SQL" level="WARN" additivity="false">
        <appender-ref ref="BACKEND" />
    </logger>
    <logger name="org.hibernate.engine.jdbc.batch.internal.BatchingBatch" level="INFO" additivity="false">
        <appender-ref ref="BACKEND" />
    </logger>
    <!--
    <logger name="pe.jaav.sys" level="WARN" additivity="false">
        <appender-ref ref="BACKEND" />
    </logger>
     -->

    <!-- TRATAMIENTOS CON DIFERENTES PROFILES -->
    <springProfile name="default">
        <root level="info">
            <appender-ref ref="BACKEND" />
            <!-- VERIFICIAR SI SE RETIRA o NO -->
            <appender-ref ref="STDOUT" />
        </root>
    </springProfile>

    <!-- TRATAMIENTOS SIN PROFILES -->
    <root level="info">
        <appender-ref ref="BACKEND" />
        <!-- VERIFICIAR SI SE RETIRA o NO -->
        <appender-ref ref="STDOUT" />
    </root>

</configuration>